<style>
.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: purple;
    color: #fff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}


.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}


.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid purple;
}

.resizer-option-disable {
    margin:8px 0;

padding:8px 16px;
border:1px solid silver;
  pointer-events: none;
opacity:0.4;
}


.resizer-option-enable{
    margin:8px 0;

padding:8px 16px;
border:1px solid silver;
opacity:1;
}


</style>

<div style="padding: 16px 32px;
				margin:8px 0;
				background-color:white;
				">


<h1>Resize Image Online</h1>

<div>

<img 

style='


max-width:100%;
display:block;
height:100%;

'
alt="

"
src="{{file_url}}"/>

</div>


<div>

<table class="styled-table">
    <thead>
        <tr>
            <th>File Attributes</th>
            <th>Info</th>
        </tr>
    </thead>
    <tbody>

    {%if file_info%}

    {%if file_info.width%}
 <tr>
            <td>Width</td>
            <td>{{file_info.width}} PX</td>
        </tr>
    {% endif %}

       {%if file_info.height%}
 <tr>
            <td>Height</td>
            <td>{{file_info.height}} PX</td>
        </tr>
    {% endif %}


       {%if file_info.original_size %}
 <tr>
            <td>Original Size</td>
            <td>{{file_info.original_size}}</td>
        </tr>
    {% endif %}

       {%if file_info.type %}
 <tr>
            <td>Type</td>
            <td>{{file_info.type}}</td>
        </tr>
    {% endif %}

      {%if file_info.format%}
 <tr>
            <td>Format</td>
            <td>{{file_info.format}}</td>
        </tr>
    {% endif %}
    

       {%if file_info.mode%}
 <tr>
            <td>Mode</td>
            <td>{{file_info.mode}}</td>
        </tr>
    {% endif %}


     

    {% endif %}
       
        
    </tbody>
</table>
</div>



<script>

// Shorthand for $( document ).ready()
$(function() {



    
    $( "#set-w-h" ).on( "click", function( event ) {

var className = $('#option-one-wrapper').attr('class');

if (className==='resizer-option-disable'){
    $('#method').attr('value',1)

$('#option-one-wrapper input').prop('required',true)
$('#option-two-wrapper input').prop('required',false)

$("#option-one-wrapper").toggleClass('resizer-option-enable resizer-option-disable');
$("#option-two-wrapper").toggleClass('resizer-option-disable resizer-option-enable');

}



});


  $( "#range-percentage" ).on( "click", function( event ) {
var className = $('#option-two-wrapper').attr('class');

if (className==='resizer-option-disable'){
   $('#method').attr('value',2)

    $('#option-two-wrapper input').prop('required',true)
$('#option-one-wrapper input').prop('required',false)

$("#option-one-wrapper").toggleClass('resizer-option-disable resizer-option-enable');
$("#option-two-wrapper").toggleClass('resizer-option-enable resizer-option-disable');
}



});

});

</script>
<form method="POST"



 enctype="multipart/form-data" method="post"
 action='{{form_url}}'>


<h2>Choose the option to resize image</h2>


<div  id="set-w-h"
>


<div 
id='option-one-wrapper'


 class="resizer-option-enable"
>

<div
>

<h3>By setting width and height</h3>

<div>
<input type="number" 

required
style="padding:8px;
margin:4px;

"

min='1'
name='width'/> Width 
</div>
</div>


<div>
<div>
<input type="number"
min='1'


required
style="padding:8px;

margin:4px;
"
 name='height'/> Height
</div>
</div>

</div>

</div>

<div id="range-percentage" >


<div id ="option-two-wrapper" class="resizer-option-disable">

<h3>By Percentage </h3>
<input
name='resize-perc'

style='width:inherit'
type="range"
max="100"
min="1"
value='30'
/>

<p>

Currently the percentage is 30
</p>



</div>

</div>
<div>




<div>
<input
id='method'
name='method'
type='number'
min='1'
max='2'
value='1'
required
style='position:absolute;
visibility:hidden;
'
/>


 </div>
 
<input
name='file-uri'
type='url'
required
value='{{file_url}}'
style='position:absolute;
visibility:hidden;
'
/>


 </div>
	<button style="padding: 8px 16px;
background-color: purple;
color: white;
font-weight: bold;
border: none;
border-radius:4px;
outline:none;

">
							Resize Image !!!
						</button>
</form>
		
</div>
</div>

</div>